<main>
    <img src="./assets/shuffle.svg" alt="" class="logo">
    <h1>Não sabe o que assistir?</h1>

    <%- include('movie'); %>

    <button class="srcButton"><img class="imgButton" src="./assets/shuffle.svg" alt="">Encontrar filme</button>
    <p>Clique em "Encontrar filme" que traremos informações de algum filme para você assistir hoje.</p>
</main>

