<div id="movie">
    
    <img class="banner" alt="" hidden>

    <div id="description">

        <h2 class="title"></h2>
        <p class="overview"></p>
        <div id="rated"></div>

    </div>
    
</div>
