*{
    margin: 0px;
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    color: #BB99DD;
    text-decoration: none;   
}

.socialTree{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#imgPerfil {

    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #BB99DD;
    padding: 2px;
    background: linear-gradient(to bottom, transparent 75%, rgb(255, 255, 255)), url("./assets/perfil.jpg");
    background-position: center;
    background-size: cover;

}

button {
    width: 300px;
    height: 50px;
    border: 2px solid #BB99DD;
    border-radius: 4px;
}
